__pycache__/appmethods.cpython-36.pyc
_defunct_sqlizer.py
__pycache__/FileFriend.cpython-37.pyc
__pycache__/sqlizer.cpython-37.pyc
.gitignore
toolbelt_workspace.code-workspace
.vscode/settings.json
__pycache__/SuperDuper.cpython-37.pyc
__pycache__/FileFriend.cpython-38.pyc
__pycache__/sqlizer.cpython-38.pyc
__pycache__/SuperDuper.cpython-38.pyc
